.heading{
    display: flex;
    align-items: center;
    justify-content: center;

}


.heading div{
    background-color: rgba(0, 0, 0, 0.923);
    height: 3px;
    width: 30vw;
}

.heading p{
    margin: 3vmax;
    color: rgb(0, 0, 0);
    font-size: 2.5vmax;
    font-family:   Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 110;
}